<%= form_with(model: position, local: true) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :position_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :position_description %>
  </div>

  <div class="field">
    <%= form.label :election_id %>
    <%= form.select :election_id, Election.all.collect{|e| [ e.name, e.id ]} %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.select :group_id, Group.all.collect{|e| [ e.name, e.id ]}, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
