<p id="notice"><%= notice %></p>

<h1>Positions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Election</th>
      <th>Group</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
    <tr>
      <td><%= position.name %></td>
      <td><%= position.election %></td>
      <td><%= position.group || "none" %></td>
      <td><%= link_to 'Show', position %></td>
      <td><%= link_to 'Edit', edit_position_path(position) %></td>
      <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position', new_position_path %>
