<% user = current_user %>

<%= form_with(model: ballot, local: true) do |form| %>
  <% if ballot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ballot.errors.count, "error") %> prohibited this ballot from being submitted:</h2>

      <ul>
      <% ballot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= user.groups.map do |group| group.name end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
	<%= form.hidden_field :election_id, value: params[:election_id] %>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
