<p id="notice"><%= notice %></p>

<h1>Listing all Ballots</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Election</th>
      <th>Votes (count)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ballots.each do |ballot| %>
    <tr>
      <td><%= ballot.user %></td>
      <td><%= ballot.election %></td>
      <td><%= ballot.votes.count %></td>
      <td><%= link_to 'Destroy', ballot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ballot', new_ballot_path %>
