<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ballot.user %>
</p>

<p>
  <strong>Election:</strong>
  <%= @ballot.election %>
</p>

<%= link_to 'Edit', edit_ballot_path(@ballot) %> |
<%= link_to 'Back', ballots_path %>
