<% if !!current_user %>
<% currently_open = Election.currently_open_to(current_user) %>

<div class="home">
 	Signed in as <strong><%= current_user.name %></strong>!
	<%= link_to "Sign out", logout_path, id: "sign_out" %>
	<h1>SGA Voting</h1>

	<p id="notice"><%= notice %></p>

	<% if currently_open.count > 0 %>
	<% currently_open.each do |election| %>
	<div><%= link_to election.name, new_ballot_path({ :election_id => election.id }) %> &mdash; open until <%= election.end_time %></div>
	<% end %>
	<% else %>
	<div>No elections open currently! Try back in a few.</div>
	<% end %>

	<% if current_user.is_admin? %>
	<%= link_to "Elections", elections_url %>
	<%= link_to "Users", users_url %>
	<%= link_to "Candidates", candidates_url %>
	<%= link_to "Positions", positions_url %>
	<% end %>
</div>

<% else %>

<div class="login">
	<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
</div>

<% end %>
