<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= link_to @candidate.profile_url || candidate_url(@candidate), (@candidate.profile_url || candidate_url(@candidate)) %>
</p>

<p>
  <strong>Election:</strong>
  <%= @candidate.election.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @candidate.position.name %>
</p>

<p>
  <strong>Violations:</strong>
  <%= @candidate.violations %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
